.topbar {
    background: white;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 25px;

    border-bottom: 1px solid var(--agro-line, #DCE5D7);
}